<div class="authentication">
    <div class="auth_wrapper">
        <div class="auth_logo"></div>
        <div class="changing_content_logIn">
            <div class="panel_header">
                <h2>Log In</h2>
            </div>

            <div class="panel_logIn">

                <form id="logIn_form"  ng-submit="authCtrl.submit(signUp_form)" name="signUp_form">
                    <label for="username_logIn">Username</label>
                    <input name="uname"
                           id="username_logIn"
                           placeholder="ex.sexybenfranklin"
                           type="text"
                           ng-model="authCtrl.username"
                           required
                           ng-minlength="5" />
                    <span ng-cloak="true" class="warning"  ng-show="signUp_form.uname.$error.required && submitted">This is the required field</span>
                    <span ng-cloak="true" class="warning"  ng-show="signUp_form.uname.$error.minlength && submitted">Minimum is 5 characters</span>
                    <br/>
                    <label for="password_logIn">Password</label>
                    <input name="passward"
                           class="password"
                           id="password_logIn"
                           placeholder ="ex.password1234"
                           type="password"
                           ng-model="authCtrl.password"
                           required
                           ng-minlength="8"/>
                    <span ng-cloak="true" class="warning" ng-show="signUp_form.passward.$error.required && submitted">This is the required field</span>
                    <span ng-cloak="true" class="warning" ng-show="signUp_form.passward.$error.minlength && submitted">Minimum is 8 characters</span>

                    <button type="submit" ng-click="submitted = true; go('#/home')">Log In</button>
                </form>

            </div>

            <div class="under_panel">
                <p class="under_panel_firstLine"><a href="#/signUp">Log In</a>/<a href="javascript:void(0)">Retrieve the password</a></p>
                <p class="under_panel_secondLine"><a href="#/home"><-- Home page</a></p>
            </div>
        </div>
    </div>
</div>
